@font-face {
    font-family: "iconfont"; /* Project id 4689131 */
    src: url('//at.alicdn.com/t/c/font_4689131_lbqsg6dt8zk.woff2?t=1727009553703') format('woff2'),
    url('//at.alicdn.com/t/c/font_4689131_lbqsg6dt8zk.woff?t=1727009553703') format('woff'),
    url('//at.alicdn.com/t/c/font_4689131_lbqsg6dt8zk.ttf?t=1727009553703') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-chart:before {
    content: "\e61a";
}

.iconfont-image-error:before {
    content: "\e651";
}

.iconfont-data:before {
    content: "\e628";
}

.iconfont-profile:before {
    content: "\e616";
}

.iconfont-record:before {
    content: "\e67d";
}

.iconfont-home:before {
    content: "\e858";
}

