@font-face {
    font-family: "iconfont"; /* Project id 4689131 */
    src: url('//at.alicdn.com/t/c/font_4689131_eoj2nseah0t.woff2?t=1727079240770') format('woff2'),
    url('//at.alicdn.com/t/c/font_4689131_eoj2nseah0t.woff?t=1727079240770') format('woff'),
    url('//at.alicdn.com/t/c/font_4689131_eoj2nseah0t.ttf?t=1727079240770') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont-home:before {
    content: "\e65c";
}

.iconfont-encyclopedia:before {
    content: "\e61b";
}

.iconfont-shortcut:before {
    content: "\e755";
}

.iconfont-location:before {
    content: "\e611";
}

.iconfont-chart:before {
    content: "\e61a";
}

.iconfont-image-error:before {
    content: "\e651";
}

.iconfont-profile:before {
    content: "\e616";
}

.iconfont-record:before {
    content: "\e67d";
}

